src/main/resources/PDFDocumentGenerationManagementResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
          <!-- XML Schema Generated from XML Document on Wed Mar 29 2023 19:09:27 GMT+0200 (South Africa Standard Time) -->
          <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
       <xs:element name="PDFDocumentGenerationManagementResponse">
              <xs:complexType>
                     <xs:sequence>
                            <xs:element name="PDFDocuments">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="PDFDocument">
                                                        <xs:complexType>
                                                               <xs:sequence>
                                                                      <xs:element name="Content" type="xs:string"></xs:element>
                                                                  </xs:sequence>
                                                           </xs:complexType>
                                                    </xs:element>
                                             </xs:sequence>
                                      </xs:complexType>
                               </xs:element>
                        </xs:sequence>
                     <xs:attribute name="xmlns:xsi" type="xs:string"></xs:attribute>
                     <xs:attribute name="xmlns:xsd" type="xs:string"></xs:attribute>
                     <xs:attribute name="xmlns" type="xs:string"></xs:attribute>
                 </xs:complexType>
          </xs:element>
   </xs:schema>